<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Essay</title>
        <link rel="stylesheet" href={{ url_for('static', filename="bootstrap.min.css") }}>
        <link rel="stylesheet" href={{ url_for('static', filename="style.css") }}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src={{ url_for('static', filename="script.js") }}></script>
        <script type="text/javascript" src={{ url_for('static', filename="bootstrap.min.js") }}></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="header navbar navbar-default navbar-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><p class="navbar-text">HyperText</p></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='{{ url_for("texts") }}' class="navbar-link">Profile</a></li>
                    {% if g.login.is_authenticated %}
                    <li><a href='{{ url_for("logout") }}' class="navbar-link">Log out</a></li>
                    {% else %}
                    <li><a href='{{ url_for("login") }}' class="navbar-link">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif category == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
