{% extends "base.html" %}

{% block title %}
Description
{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col">
         <img class="img-fluid" src={{ url_for('static', filename='images/descriptions/{}.jpg'.format(exercise.id)) }}>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <form method="post">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-danger" name="send_button" value="back">Назад</button>
            <button type="submit" class="btn btn-primary" name="send_button" value="start">Начать</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
