{% extends "base.html" %}

{% block title %}
Exercise
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-6 col-md-offset-3">
        <p class="bg-normal">Выберите любое предложение, чтобы начать делать задание.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-offset-3 btn-group">
        <button id="sentenceChoose" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-hashpop="true" aria-expanded="true">
            Choose sentence<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sentenceChoose">
            {% for (formulae, tid) in values.keys() %}
            <li><a href="#" onclick="spoiler({{ tid }})">{{ formulae|safe }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6 col-md-offset-3">
    <hr>
    </div>
</div>
{% for (formulae, tid), contexts in values.items() %}
<div class="row">
    <div class="col-xs-6 col-md-offset-3">
        <div id="block{{tid}}" style="display:none;">
            <p class="bg-normal">Напишите предложение по формуле, вставив вместо переменных любое выражение из соответствующего списка.</p>

            <p class="bg-normal task"> {{ formulae|safe }} </p>
            <br />
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.answer(cols=80, rows=3, class_="form-control task", onCopy="return false", onDrag="return false", onDrop="return false", onPaste="return false", autocomplete=off) }}
                <input type="text" name="task_id" value="{{ tid }}" hidden="true">
                <input type="submit" class="btn btn-primary" name="check" value="check">
            </form>
            <br />
            {% for (size, term, content) in contexts %}
            <table class="table table-striped table-bordered task" style="width:auto;">
                <tr><th colspan={{ size }}> {{ term }}</th></tr>
                {% if content is mapping %}
                <tr>
                    {% for th, cnt in content.items() %}
                    <th colspan={{ cnt|length }}>{{ th }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for th, cnt in content.items() %}
                    {% for i in cnt %}
                    <td>{{ i }}</td>
                    {% endfor %}
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    {% for i in content %}
                    <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
            </table>
            <br />
            {% endfor %}
            <hr>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-xs-6 col-md-offset-3">
        <form method="post">
        <button type="submit" method="post" class="btn btn-danger" name="cancel" value="cancel">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
